.container {
    background: -webkit-linear-gradient(top left, #7d2011 0%, #940c16 100%) !important;
    background: -moz-linear-gradient(top left, #7d2011 0%, #940c16 100%) !important;
    background: -o-linear-gradient(top left, #7d2011 0%, #940c16 100%) !important;
    background: linear-gradient(to bottom right, #7d2011 0%, #940c16 100%) !important;
}

@media only screen and (max-device-width: 1023px) {
    .carousel {
        position: static;
        left: 0;
    }
}