@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 100;
  src: url('Gotham-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 100;
  src: url('Gotham-ThinIta.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 200;
  src: url('Gotham-XLight.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 200;
  src: url('Gotham-XLightIta.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: url('Gotham-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 300;
  src: url('Gotham-LightIta.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('Gotham-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 400;
  src: url('Gotham-BookIta.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: local('Gotham Bold'), local('Gotham-Bold'), url('Gotham-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 700;
  src: local('Gotham Bold'), local('Gotham-BoldIta'), url('Gotham-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 900;
  src: local('Gotham Ultra'), local('Gotham-Ultra'), url('Gotham-Ultra.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 900;
  src: local('Gotham Ultra'), local('Gotham-UltraIta'), url('Gotham-UltraIta.otf') format('opentype');
}