.contact {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.content {
    width: 100%;
    height: 196px;
    position: absolute;
    top: 50%;
    margin-top: -98px;
}

.email, .text, .social {
    text-align: center;
    color: #FFF;
}

.email {
    font-size: 54px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.text {
    font-size: 22px;
    font-weight: 100;
    margin-top: 30px;
    padding: 0;
}

.social {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

@media only screen and (max-device-width: 1023px) {
    .content {
        width: 100%;
        height: 286px;
        position: absolute;
        top: 50%;
        margin-top: -143px;
}
}