.slide1 {
    width: 100%;
    height: 420px;
    position: absolute;
    top: 50%;
    margin-top: -210px;
}

.slide2 {
    margin-top: -10%;
}

.subtitle {
    text-align: center;
    font-weight: 300;
    margin-top: 30px;
}

.mobileHidden {
    display: block;
}

.arrowDown {
    width: 56px;
    height: 56px;
    margin-top: 50px;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.bottomText {
    font-weight: 100;
    font-size: 54px;
    text-align: center;
}

.bottomHolder {
    height: 600px;
}

.bottomText a {
    color: #4D9D0D;
    text-decoration: none;
}

@media only screen and (max-device-width: 1023px) {
    .title {
        font-size: 30px;
    }

    .slide {
        height: 100%;
        margin-top: -200px;
    }

    .slideBottom {
        margin-top: -20%;
    }

    .bottomHolder {
        height: auto;
    }

    .bottomText {
        font-size: 2em;
    }

    .mobileHidden {
        display: none;
    }
}