.badge {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
}

.fixed {
    width: 350px;
    margin: 0 auto 0 auto;
}

.lightMode {
    color: #FFF;
}

@media only screen and (max-device-width: 1023px) {
    .badge {
        width: 100%;
    }

    .fixed {
        width: auto;
        margin: 0;
    }
}