.mainMenu {
    position: relative;
    top: -150px;
    width: 80%;
    min-width: 850px;
}

.menu {
    text-align: center;
    display: none;
}

.menuIsOpen {
    display: flex;
}

.mainMenuLink {
    flex-basis: 30%;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.link, .link:active, .link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 56px;
    color: #000;
}

@media only screen and (max-device-width: 1023px) {
    .mainMenu {
        top: -75px;
        flex-direction: column;
        width: 100%;
        min-width: 100%;
    }

    .mainMenuLink {
        margin: 20px 0 20px 0;
    }
}