.menuBar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9;
}

.menuBarIsOpen {
    height: 100%;
    background-color: rgba(229, 229, 229, 1);
}

.topBar {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: 0;
    left: 0;
    /*background-color: #FFF;*/
}

.topBarOpen {
    background-color: rgba(229, 229, 229, 1);
}

.fntnl {
    display: inline-block;
    font-weight: 900;
    display: inline;
    font-size: 18px;
    position: relative;
    top: -5px;
}

.mainLanguageSwitch {
    width: 50px;
    position: absolute;
    top: 18px;
    right: 150px;
}

.mobileLanguageSwitch {
    margin-top: 50px;
    display: none;
}

.menu {
    text-align: center;
    display: none;
    width: 90%;
    margin: 25% auto;
}

.menuIsOpen {
    display: block;
}

.menuItem {
    margin-top: 0px;
}

.menuItem a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
}

.social {
    text-align: center;
    margin-top: 250px;
}

.socialLink {
    width: 56px;
    height: 56px;
}

@media only screen and (max-device-width: 1023px) {
    .menuBar {
        padding-top: 0;
    }

    .topBar {
        margin-left: 0;
    }

    .fntnl {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 5px;
        display: block;
    }

    .mainLanguageSwitch {
        display: none;
    }

    .mobileLanguageSwitch {
        display: block;
    }

    .menu {
        width: 100%;
        margin: 20% auto;
    }

    .menuItem {
        margin-top: 15px;
    }

    .language {
        display: block;
    }

    .social {
        margin-top: 30px;
    }
}