.case {

}

.imageBox {
    overflow: hidden;
}

.imageBox_alphanation {
    width: 50vw;
}

.imageBox_alphanation img {
    height: 100vh;
    position: relative;
    left: 286px;
}

.contentBox {
    background-color: #E5E5E5;
    padding: 0 25px 0 25px;
    box-sizing: border-box;
}

.comingSoon {
    font-weight: 200;
    font-size: 18px;    
}