html {
    height: 100%; 
    background-color: #FDF141;
}

body {
    height: 100%;
    overflow: auto;
    background-color: #FDF141;
    padding: 0;
    margin: 0;
}

#root {
    background-color: #FFF;
}

.page-enter {
  transform: translateY(100vh);
  opacity: 0.5;
}

.page-enter-active {
  transition: 300ms ease-in-out;
  transition-delay: 150ms;
  transform: translateY(0vh);
  opacity: 1;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  transition: 200ms ease-in-out;
  bottom: 100vh;
  opacity: 0.3;
}