body {
  margin: 0;
  padding: 0;
  font-family: 'Gotham';
  width: 100%;
}

.center {
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vv;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}