*:focus { 
  outline:0; 
  box-sizing: border-box;
}

* {
  letter-spacing: 0.5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gotham';
  width: 100%;
  overflow-x: hidden;
}

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

.center {
  text-align: center;
}

img[src="/img/arrow-down.png"] {
  width: 56px;
  height: 56px;
}

strong {
  font-weight: 700;
}