.slide {
    height: 468px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -234px;
}

.title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.text {
    font-size: 22px;
    font-weight: 200;
}

.text strong {
    font-weight: 400;
}

.noPadding {
    padding: 0;
}

.columns {
    line-height: 2em;
    font-weight: 200;
}

@media only screen and (max-device-width: 1023px) {
    .text {
        font-size: 18px;
        font-weight: 200px;
    }

    .slide {
        padding: 25px;
        width: 86%;
        height: 368px;
        margin-top: -184px;
    }
}