.holder {
    width: 1420px;
    height: 810px;
    position: absolute;
    top: 50%;
    margin-top: -405px;
    left: 50%;
    margin-left: -710px;
}

.holder p {
    text-align: right;
    font-weight: 200;
    font-size: 14px;
}

.holder img {
    width: 1420px;
    height: 810px;    
}

.mobileHolder {
    height: 100%;   
    width: 100%;
    position: absolute;
    background-image: url(/img/img-iridium-video.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: right;
}

.mobileHolder span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #FFF;
    font-weight: 200;
}